<div class="row justify-content-center">
    <ng-container *ngFor="let campaign of campaignList">
            <div class="col-md-3" [ngStyle]="{'background': campaign.bgColor}" (click)="goToBetOptions(campaign)">
                <div></div>
                <p class="text-center"><i class="fa fa-trophy"
                        style="color: #ffc107;font-size: 40px;padding: 20px;padding-bottom: 0;"></i></p>
                <p class="text-center" style="color: #fff;"><strong>{{campaign.name}}</strong></p>
                <p class="text-center" style="color: #fff;">BET NOW</p>
            </div>
    </ng-container>

</div>
