.card-header {
    height: 200px;
    background-color: orange;
  }
  
  #download-icon {
    font-size: 30px;
    color: black;
    opacity: 0.4;
  }
  
  #heading-card {
    margin-top: 40px;
    font-size: 45px;
  }
  
  .cardheader-text {
    color: #fff;
  }
  
  .card-text.sub-text-color {
    color: #8c8c8c;
  }
  
  .card-text:last-child {
    font-size: 30px;
    color: #595959;
  }
  
  #cardheader-subtext {
    font-size: 20px;
  }
  
  .card.cards-shadown {
    box-shadow: 2px 2px 30px #aaaaaa;
  }
  
  .row.space-rows {
    margin: 40px;
  }
  
  .col {
    padding: 20px 7px 0px 7px;
  }
  
  .card.cards-shadown.cards-hover:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99;
  }
  
  .card-header:first-child:hover {
    background-color: #ffb366;
  }
  
  .victoria-one {
    width: 115px;
    padding: unset;
  }
  
  .cardheader-text {
    display: flex;
    justify-content: space-between;
  }
  
  #download-icon-1 {
    font-size: 3em;
    color: #d24d57;
  }
  .row app-card-task {
    width: 30% !important;
    max-width: 30% !important;
}
  